# See https://help.github.com/ignore-files/ for more about ignoring files.
# List all tracked files
# git ls-tree -r HEAD --name-only
# List all files including any deleted
# git log --pretty=format: --name-only --diff-filter=A | sort - | sed '/^$/d'

# dependencies
/node_modules

# testing
/coverage

# production
/build

# environment
/.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea/workspace.xml
/.idea/tasks.xml
