/* html, body { 
  background-color: rgb(255, 255, 255);
  margin:0; 
  padding:0; 
  height:100%; 
} */
* {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12vw;
}
/* h1 {
font-size: 8vw;
} */

.innerDiv {
  display: grid;
  background-color: rgb(16, 124, 232);
  
} */
/* form label {
  position: relative;
  display: block;
  background-color: khaki;
  height: 150px;
  border-radius: 5px solid;
  margin: 10px 7px;
  width: 150px;
  border-color: lawngreen;
} */
/* form label input {
  background-color: #fff;
} */
/* .clock {
  grid-area: clock;
  background-color: #fff;
}

.sidebar {
  grid-area: sidebar;
} */
button {
  position: relative;
  display: block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  background-color: #383736;
  color: white;
  border: 2px #383736 solid;
  border-radius: 4px;
  outline: 0;
  overflow:hidden;
  z-index: 1;
  cursor: crosshair;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
input {
  position: relative;
  display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  /* text-transform: uppercase; */
  outline: 0;
  overflow:hidden;
  background: none;
}
.wrapper{
display: grid;
 /* grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(3, 1fr);
 grid-template-areas: "sidebar ..... ......." "....... . clock" ". . clock"; 
 grid-gap: 20px; 
 align-items: stretch; */ 
background-color: #1fe;
height: 100vh;
width:100vw;
place-content: center;
color: #444;
}

/* 
.box {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}button {
  position: relative;
  display: block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  background-color: #383736;
  color: white;
  border: 2px #383736 solid;
  border-radius: 4px;
  outline: 0;
  overflow:hidden;
  z-index: 1;
  cursor: crosshair;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
} */
/* input {
  position: relative;
  display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  /* text-transform: uppercase; */
  outline: 0;
  overflow:hidden;
  background: none;
} */
.wrapper{
display: grid;
 /* grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(3, 1fr);
 grid-template-areas: "sidebar ..... ......." "....... . clock" ". . clock"; 
 grid-gap: 20px; 
 align-items: stretch; */ 
background-color: #1fe;
height: 100vh;
width:100vw;
place-content: center;
color: #444;
}

/* 
.box {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
} */