// html, body { 
//   background-color: rgb(255, 255, 255);
//   margin:0; 
//   padding:0; 
//   height:100%; 
// }

// * {
//   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 12vw;
// }
// h1 {
// font-size: 8vw;
// }

.header {
  height: 6vh;
  background-color: white;
}

.wrapper {
  display: grid;
  height: 86vh;
  overflow: auto;
  background-image: url(../images/season-.jpg);
}

.footer {
  display: flex;
  height: 8vh;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
}

.flex-item {
  margin: 6px;
  font-style: normal;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

// .form-inline .form-group input {
//   width:530px;
// }
// #modal-root {
//   position: relative;
//   z-index: 999;
// }

.fa-facebook, .fa-facebook-square, .fa-facebook-f {
  color: #3b5998  // Official colour
}
.fa-twitter, .fa-twitter-square {
  color: #1da1f2
}
.fa-google-plus, .fa-google-plus-square {
  color: #dd4b39
}
.fa-youtube, .fa-youtube-play, .fa-youtube-square {
  color: #bb0000
}
.fa-tumblr, .fa-tumblr-square {
  color: #32506d
}
.fa-vine {
  color: #00bf8f
}
.fa-flickr {
  color: #ff0084
}
.fa-vimeo-square {
  color: #aad450
}
.fa-linkedin, .fa-linkedin-square {
  color: #0077b5; // Official colour
}
.fa-instagram {
  color: #3f729b;
}
.fa-pinterest, .fa-pinterest-square, .fa-pinterest-p {
  color: #bd081c; // Official colour
}
.fa-spotify {
  color: #1ED760;
}
.fa-twitch {
  color: #6441a4; 
}
.fa-github {
  color: #211f1f // Official colour
}
.fa-reddit {
  color: #FF5700; // Official colour
}
.fa-dribbble {
  color: #ea4c89; // Official colour
}
.fa-stack-overflow { 
  color: #f48024; // Official colour
}
// .modal {
//   background-color: rgba(0,0,0,0.5);
//   position: fixed;
//   height: 50%;
//   width: 50%;
//   top: 0;
//   left: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }